<section class="educacion"> 
    <h2 class="border border-2 p-2 rounded-4 text-center mb-3">Educación</h2>
    <div class="container text-center">
      <div class="row mt-4">
        <div class="col-2">
           <img src="../../../assets/normal4.png" alt="logo" class="img-fluid">
        </div>  
        <div class="col-8">
           <h5>Escuela superior Normal Tomás Godoy Cruz</h5>
           <h5>Bachiller Orientación a Turismo</h5>
           <h5>Ciudad Mendoza, Argentina</h5>
        </div>
        <div class="col-2 mt-4">
          <p>2010-2013</p>
        </div>
      </div>
    </div>
    <br>
    <div class="container text-center">
      <div class="row">
        <div class="col-2">
           <img src="../../../assets/APLogo.png" alt="logo" class="logoarg img-fluid">
        </div>  
        <div class="col-8 mt-4">
           <h5>Argentina Programa</h5>
           <h5>Desarrollador Web Full Stack</h5>
           <h5>Capital Federal, Argentina</h5>
        </div>
        <div class="col-2 mt-5">
          <p>2021-2022</p>
        </div>
      </div>
    </div>
   <br>
  </section>
