<!--Acerca de mi-->
<section class="acerca-de-mi">
    <br>
    <div class="border border-2 p-2 rounded-4 text-center mb-3"><h2>Acerca de mí</h2></div>
    <div class="container ">
      <div class="row">
        <div class="col-xs-12 col-4 text-center ">
          <img src="../../../assets/foto.jpg" alt="foto" class="rounded-circle img-fluid"><hr>
          <h5>Romina Belen Vargas</h5>
          <h5>Developer Full Stack Jr</h5>
        </div>
        <div class="col-xs-12 col-8 text-center">
          <p>Estudiante de desarrollo web, con el objetivo de obtener una mayor experiencia en el área y  así poder ofrecer proyectos de calidad.
          Me considero una persona organizada con iniciativa, y con gran capacidad de colaboración. Me gusta aprender constantemente para así mejorar tanto personal
          como profesionalmente.</p>
        </div>
        
      </div>
    </div>
    <br><br>
</section>