<section class="experiencia"> 
    <h2 class="border border-2 p-2 rounded-4 text-center mb-3">Experiencia laboral</h2>
    <div class="container text-center ">
      <div class="row">
        <div class="col-3">
           <h5>Atención al publico: "La Nona"</h5>
        </div>  
        <div class="col-3">
           <p>2014-2018</p>
        </div>
        <div class="col-6">
          <p>Ofrecía atención y asesoría a los clientes ,soporte en actividades de ventas y campañas promocionales. Toma y gestión de pedidos/requerimientos. Seguimiento de entrega de los productos y control de stock.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="container text-center">
      <div class="row">
        <div class="col-3">
           <h5>Niñera</h5>
        </div>  
        <div class="col-3">
           <p>2018-2022</p>
        </div>
        <div class="col-6">
          <p>Proporcionaba sesiones de lectura y juegos didácticos para promover el desarrollo intelectual al niño .Seguía instrucciones detalladas referentes a la comida, medicación, tareas y cuidados en general.
          </p>
        </div>
      </div>
    </div>
    <br>
  </section>
