<section class="skills">
    <h2 class="border border-2 p-2 rounded-4 text-center mb-3">Hard & Soft skills</h2>
    <div class="row border border-2 p-2 rounded-4 text-center">
    <div class="col-4 text-center">
         <circle-progress
              [percent]="90"
              [radius]="100"
              [imageSrc]="'../assets/html.png'"
              [showImage]="true"
              [imageHeight]="70"
              [imageWidth]="70"
              [showUnits]="false"
              [showSubtitle]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="600"
              [responsive]="true"
              [backgroundColor] ="'rgba(117, 115, 111, 0.521)'"
         ></circle-progress>
    </div>
    <div class="col-4 text-center">
        <circle-progress
             [percent]="85"
             [radius]="100"
             [imageSrc]="'../assets/CSS.png'"
             [showImage]="true"
             [imageHeight]="70"
             [imageWidth]="70"
             [showUnits]="false"
             [showSubtitle]="false"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [outerStrokeColor]="'#78C000'"
             [innerStrokeColor]="'#C7E596'"
             [animation]="true"
             [animationDuration]="600"
             [responsive]="true"
             [backgroundColor] ="'rgba(117, 115, 111, 0.521)'"
        ></circle-progress>
   </div>
   <div class="col-4 text-center ">
    <circle-progress
         [percent]="70"
         [radius]="100"
         [imageSrc]="'../assets/js.png'"
         [showImage]="true"
         [imageHeight]="70"
         [imageWidth]="70"
         [showUnits]="false"
         [showSubtitle]="false"
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="600"
         [responsive]="true"
         [backgroundColor] ="'rgba(117, 115, 111, 0.521)'"
    ></circle-progress>
    </div>
    <div class="col-4 text-center ">
        <circle-progress
             [percent]="70"
             [radius]="100"
             [imageSrc]="'../assets/github.png'"
             [showImage]="true"
             [imageHeight]="70"
             [imageWidth]="70"
             [showUnits]="false"
             [showSubtitle]="false"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [outerStrokeColor]="'#78C000'"
             [innerStrokeColor]="'#C7E596'"
             [animation]="true"
             [animationDuration]="600"
             [responsive]="true"
             [backgroundColor] ="'rgba(117, 115, 111, 0.521)'"
        ></circle-progress>
   </div>
   <div class="col-4 text-center">
    <circle-progress
         [percent]="50"
         [radius]="100"
         [imageSrc]="'../assets/eng.png'"
         [showImage]="true"
         [imageHeight]="70"
         [imageWidth]="70"
         [showUnits]="false"
         [showSubtitle]="false"
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="600"
         [responsive]="true"
         [backgroundColor] ="'rgba(117, 115, 111, 0.521)'"
    ></circle-progress>
    </div>
    <div class="col-4 text-center">
        <circle-progress
             [percent]="100"
             [radius]="100"
             [imageSrc]="'../assets/grupal.png'"
             [showImage]="true"
             [imageHeight]="70"
             [imageWidth]="70"
             [showUnits]="false"
             [showSubtitle]="false"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [outerStrokeColor]="'#78C000'"
             [innerStrokeColor]="'#C7E596'"
             [animation]="true"
             [animationDuration]="600"
             [responsive]="true"
             [backgroundColor] ="'rgba(117, 115, 111, 0.521)'"
        ></circle-progress>
   </div>

</div>

</section>