<!--Barra de navegacion width="130px"-->
<nav class="navbar fixed-top flex-colum flex-md-row" >
    <div class="container-fluid" >
     <a class="navbar-brand" href="#">
       <img src="../../../assets/APLogo.png" alt="logo" class="img-fluid">
     </a>
      <ul class="list-group list-group-horizontal" >
       <li><a href="https://linkedin.com" target="_blank"><img src="../../../assets/linkedin.png" width="45px" alt="linkedin" class="shadow img-fluid"></a></li>
       <li><a href="https://github.com" target="_blank"><img src="../../../assets/github.png" width="45px" alt="github" class="shadow img-fluid"></a></li>
       <li><a href="https:twitter.com" target="_blank"><img src="../../../assets/twitter.png" width="45px" alt="twitter" class="shadow img-fluid"></a></li>
       <li> 
         <!-- Button (boton que envia al login) -->
           <a href="../FrontEnd/login.html"><i class="fa-solid fa-user-lock fa-2x text-white shadow"></i></a>
       </li>
     </ul>
     </div>
</nav>

<!--Banner-->
<section class="banner">
 <img src="../../../assets/banner.png" alt="banner" class="img-fluid"> 
</section>
